<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bustime">

	<select id="queryLine"  parameterType="String"
		resultType="com.bustime.common.model.Line">
			select lineGuid, lineNumber, lineInfo, link, trend, status
			  from line
			 where status = 'enable'
			   and lineNumber = #{lineNumber}
	</select>
	
	<insert id="saveLine" parameterType="com.bustime.common.model.Line">
	
		INSERT INTO line
		  (lineGuid, lineNumber, lineInfo, link, trend, status)
		VALUES
		  (#{lineGuid}, #{lineNumber}, #{lineInfo}, #{link}, #{trend}, 'enable')
	</insert>

</mapper>