<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bustime">
<!--  
	<select id="queryGroup" parameterType="long"
		resultType="com.snda.family.core.domain.ChatGroup">
		select id,name,type,MEMBERS as chatNumber from TB_GROUP where id = #{id}	</select>


	<update id="updateFeedComments" parameterType="long">
		update tb_life_hotspot t set t.comments = t.comments + 1 where t.id = #{id}	</update>

	<insert id="saveNotifyConfig" parameterType="com.snda.family.core.domain.DBNotifyConfig">
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
			select SEQ_NOTIFY_CONFIG.NEXTVAL from dual
		</selectKey>
		insert into tb_notify_config
		(id, account, key, value, status)

		values
		(#{id}, #{account}, #{key}, #{value}, 1)
	</insert>

	<update id="updateNotifyConfig" parameterType="com.snda.family.core.domain.DBNotifyConfig">
		update tb_notify_config set value = #{value} where account=#{account} and
		key = #{key}
	</update>
	
	-->

</mapper>